
/* Basic style */

@font-face{
  font-family: Plantin;
  src:local("Plantin MT Std"),url(/font/Plantin.woff2) format("woff2");
  font-weight:400;
  font-style:normal
  }

*{
    margin:0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: Plantin,'Plantin MT Std', Georgia, serif;
    font-weight:400;
}

p {
    font-family: Plantin,'Plantin MT Std', Georgia, serif;
    font-weight:400;
    font-size: 20px;
    line-height: 30px;
    color: #6c757d;
    /* line-height: ;150% of font-size */
  }

.r-p {
    padding-top: 80px;
    padding-bottom: 80px;
  }

body{
    background-color: #ffffff;
}

section{
  background-color: #ffffff;
}

.panna {
  background-color: #f6f1ed;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #f39f0a !important;
  border-color:#1e1401 !important;
}


/* Header -----------------------------------------------------------------------*/

header {
    height: 100vh;
    width: 100%;
    background-image:url("../img/hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: relative;
  }
  .header-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 20px;
  }
  .content-box {
    max-width: 700px;
    color:#1e1401;
  }
  .content-box h4 {
    font-size: 30px;
    color: #1e1401;
  }
  .content-box h1 {
    font-size: 52px;
    color: #1e1401;
  }
  .content-box a {
    color: #1e1401;
    text-decoration: none;
    border: 2px solid #1e1401;
    border-radius: 20px;
    padding: 5px 25px;
  }
  .content-box p {
    color: #1e1401;
  }
  .content-box a:hover {
    color: #1e1401;
    background: #f39f0a;
    transition: 0.5s all;
  }

/* STATS ---------------------------------------------------------*/

.stats .progress {
    height: 25px;
    border-radius: 20px;
    font-size: 20px;
  }
  
  .progress-color {
    background-color: #f39f0a !important;
  }
  .stats label {
    font-size: 20px;
    margin: 10px;
  }

/* Service  ---------------------------------------------------------*/

.card,
.card-header {
  background: #f6f1ed !important;
}

.card-header {
  border: none !important;
}

.services .card-header i {
  font-size: 50px;
}
.service-border {
  height: 2px;
  width: 40px;
  margin: 15px auto;
  background: #f39f0a;
  transition: 0.5s all;
}
.services h5:hover + .service-border {
  width: 100px;
}

.services p {
  font-size: 16px;
}

.services .btn:hover {
  color: #1e1401 !important;
  background: #eee !important;
}


/* FOOTER ---------------------------------------------------------*/
footer {
    height: 200px;
    background-color: #1e1401;
  }
  footer .r-icon a {
    font-size: 20px;
    color: #848484;
    padding: 10px;
    border: 1px solid #848484;
    border-radius: 50%;
  }
  footer .r-icon a:hover {
    border: 1px solid #eee;
    color: #eee;
    transition: 0.5s all;
  }

  footer a{
    text-decoration: none;
    color: inherit;
  }

  footer a:hover {
    text-decoration: none;
    color: #eee;
    transition: 0.5s all;
  }
