
 @font-face{
    font-family: Plantin;
    src:local("Plantin MT Std"),url(/font/Plantin.woff2) format("woff2");
    font-weight:400;
    font-style:normal
    }

/************HEADER SECTION*************/
.header{
background-image: url(/img/wavesOpacity.svg);
width:100%;
height:900px;
}

#header_img1{
margin-top:80px;
transform: rotate(-20deg);}

#header_img2{
display:none;}

.logo{
width:85px;
height:85px;
background-size:cover;
margin:80px 0px 0px 120px;
}

.header_title{
font-family: Plantin,'Plantin MT Std', Georgia, serif;
font-weight:400;
font-size:45px;
font-weight:bold;
padding:20px 20px 0px 120px;}

.header_p{
font-family: Plantin,'Plantin MT Std', Georgia, serif;
font-weight:400;
font-size:20px;
padding:15px 20px 0px 120px;
line-height:30px;}

.header_h4{
font-family: Plantin,'Plantin MT Std', Georgia, serif;
font-weight:400;
font-size:21px;
font-weight:bold;
padding:20px 20px 15px 120px;}

#email{
width:350px;
height:40px;
border-radius:5px;
background: #FFFFFF;
border:1px solid #f39f0a;
margin:0px 0px 0px 120px;
padding:0px 0px 0px 10px;
}

#email:focus { 
    outline: none !important;
    border-color: #f39f0a;
    box-shadow: 0 0 10px #f39f0a;
}

#email::placeholder{
padding:0px 0px 0px 10px;}

#submit{
width:350px;
height:40px;
background:#f39f0a;
border-radius:5px;
border:1px solid #f39f0a;
margin:15px 0px 0px 120px;
color:#f6f1ed;
font-weight:bold;
}

.your{
font-size:17px;
padding:0px 20px 0px 120px;
margin:-30px 0px 0px 15px;}

.dash{
width:3px;
height:32px;
background:#f39f0a;
margin:33px 0px 0px 120px;}

/************FOOTER SECTION*************/

.footer{
width:100%;
height:auto;
background:#FFFFFF;
margin-top:50px;}

.footer_p{
color:#333333;
font-size:17px;
padding:30px 20px 20px 20px;
text-align:center;}

.flex2 a i{
font-size:22px;
color:#333333;
padding:30px 0px 20px 20px;
}


@media only screen and (max-width:1168px) {

.logo{
margin:90px 0px 0px 0px !important;
}

.header_title{
padding:20px 20px 0px 0px !important;
font-size:40px !important;}

.header_p{
padding:15px 20px 0px 0px !important;}

.header_h4{
padding:20px 20px 15px 0px !important;}

#header_img1{
margin-top:120px;
transform: rotate(-20deg) !important;}

#email{
margin:0px 0px 0px 0px !important;
}

#submit{
margin:15px 0px 0px 0px !important;
}

.your{
padding:0px 20px 0px 0px !important;}

.dash{
margin:33px 0px 0px 0px !important;}

.past_title{
margin-top:-160px !important;}

}





@media only screen and (max-width:1024px) {

/************HEADER SECTION*************/
.header{
width:100%;
height:auto;}

#header_img1{
display:none;}

#header_img2{
display:block;
margin:120px 0px 0px 0px;}


.your{
margin:-42px 0px 0px 15px;}

.logo{
margin:80px 0px 0px 10px;
}

.header_title{
padding:20px 20px 0px 10px;}

.header_p{
padding:15px 20px 0px 10px;}

.header_h4{
padding:20px 20px 15px 10px;}


.dash{
margin:33px 0px 0px 10px;}


/************FOOTER SECTION*************/

.footer_p{
padding:30px 0px 20px 0px;}

.flex2 a i{
padding:30px 0px 20px 20px;
}

}



@media only screen and (max-width:815px) {

#header_img2{
display:block !important;
margin:170px 0px 0px 0px !important;}

.header_title{
padding:20px 0px 0px 0px !important;}

.header_p{
padding:10px 0px 0px 0px !important;
font-size:17px;}

/************FOOTER SECTION*************/

.footer_p{
padding:0px 0px 0px 0px !important;
margin:0px 0px 0px 0px !important;}

.flex2 a i{
padding:0px 0px 0px 0px !important;
margin:10px 0px 0px 0px !important;
}

}





@media only screen and (max-width:600px) {

/************HEADER SECTION*************/

.logo{
margin:80px 0px 0px 10px !important;
}

.header_title{
padding:20px 10px 0px 20px !important;
font-size:34px !important;}

.header_p{
padding:10px 10px 0px 20px !important;}

#header_img2{
margin-top:80px !important;
margin-bottom:20px !important;
}

.header_h4{
padding:20px 10px 0px 20px !important;}

#email{
width:80%;
margin:20px 10px 0px 20px !important;
}

#submit{
width:80%;
margin:20px 10px 0px 20px !important;;
}

.your{
margin:-40px 0px 0px 35px !important;}

.dash{
margin:33px 0px 0px 20px !important;}

/************FOOTER SECTION*************/

.footer_p{
padding:0px 0px 0px 0px !important;
margin:40px 0px 0px 0px !important;}

.flex2 a i{
padding:0px 0px 0px 0px !important;
margin:-20px 0px 50px 0px !important;
}

}





